* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #4a4a4a;
    font-family: 'Rubik', sans-serif;
}

.home-page {
    background: #fff;
    width: 500px;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

#header {
    text-align: center;
    padding: 35px 35px 0 35px;
    font-weight: 300;
}

#login-information{
  text-align: center;
    padding: 35px 35px 0 35px;
    font-weight: 300;
}

#singup-information{
  text-align: center;
    padding: 35px 35px 0 35px;
    font-weight: 300;
}

#login-butt {
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #2d3b55;
    color: #fff;
    letter-spacing: 0.2px;
    outline: 0;
    transition: all .3s;
}

#login-butt:hover {
    background: #3c4d6d;
}

#singup-butt {
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #0059ff;
    color: #fff;
    letter-spacing: 0.2px;
    outline: 0;
    transition: all .3s;
}

#singup-butt:hover {
    background: #103d4c;
}

.butt {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-left:70px;
    margin-right:70px;
}

.butt:hover {
    background-color: RoyalBlue;
}

.main-page {
  text-align: center;
}

#welcome-text {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}