body {
  background: #4a4a4a;
}

#pgn, #info, #moves {
  color:white;
}

#analyse:link {

  background-color: #ffffff;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#analyse:hover {
  background-color: black;
  color: white;
}

