<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Css/signup.css'%}">
    <meta charset="UTF-8">
    <title>Signup page</title>
</head>
<body>
    {% block content %}
    <div class="singup-form">
        <h2>Sign up</h2>
            <div class="content">
              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" id="sign-up-button">Sign Up</button>
              </form>
            </div>
    </div>
    {% endblock %}
</body>
</html>